body {
    font-family: arial, helvetica;
  }
  
  h3 {
    font-size: 5em;
    text-align: center;
    color: #fff;
    font-weight: 700;
  }
  
  .section{
    /* text-align: center; */
    font-size: 3em;
    background-size: cover;
    background-repeat: none;
    background-position: center center;
    color: white;
  }
  
  .slide{
    background-size: cover;
    background-repeat: none;
  }
  
  #page1-1 {
    background-image: url("../img/1st.png");
  }
  
  #page2-1{
    background-image: url("../img/back2.1.png");
    text-align: center;
  }
  #page2-2{
    background-image: url("../img/back2.2.png");
    text-align: center;
  }
  
  #page2-3{
    background-image: url("../img/back2.2.png");
    text-align: center;
  }
  
  #page3-1{
    background-image: url("../img/back2.2.png");
    text-align: center;
  }
  
  #page4-1{
    background-image: url("../img/back2.3.png");
    text-align: center;
  }
  
  .fp-section {
    /* text-align: center; */
  }
  
  .fp-watermark{
    display: none;
  }
  
  .page1-1-text{
    font-weight: 300;
    font-size: 3vw;
    margin-left: -18em;
  
  }
  
  .page1-1-text p{
    font-weight: 900;
    font-size: 5vw;
  }